@import models.Comment
@import forms.CommentForm
@import helper.form
@import helper.inputText
@import helper.input

@(parent: Comment, commentForm: Form[CommentForm]) 
    @if(parent != null) {
        @parent.getText
        @for(child <- parent.getChildren) {
	    	@commentView(child)
	    }
    }
    
    @form(action=routes.Application.postReply) {
        @input(commentForm("parentId")) { (id, name, value, args) =>
            <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)/>
        }
        @input(commentForm("topicId")) { (id, name, value, args) =>
            <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)/>
        }
		@inputText(commentForm("text"))
		<button type="submit">ADD UR COMMENT</button>
    }
